* {
  box-sizing: border-box;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    rgba(255, 255, 255)
  );
  overflow: hidden;
  margin: 0;
  height: 100vh;
}

.board {
  display: grid;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before {
  background: rgba(0, 0, 0, 0.3) !important;
}

/* Célula */
.cell {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: none;
}

/* X */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before {
  content: "";
  height: calc(100px * 0.15);
  width: calc(100px * 0.9);
  background: black;
  position: absolute;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

/* Circle */
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: "";
  height: calc(100px * 0.9);
  width: calc(100px * 0.9);
  background: black;
  position: absolute;
  border-radius: 50%;
}

/* Mensagem de Vitória */
.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  flex-direction: column;
}

.winning-message-button {
  font-size: 2.5rem;
  background-color: rgb(0, 0, 0);
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin-top: 16px;
  color: white;
}

.winning-message-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(43, 42, 42);
}

.winning-message-text {
  color: black;
  font-size: 5rem;
}

.show-winning-message {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: -100px;
}

h1 {
  text-align: center;
  color: black;
}

h2 {
  margin-top: -140px;
  text-align: center;
  color: black;
}

hr {
  background-color: black;
  font-weight: bold;
  height: 3px;
  width: 250px;
  margin-top: 80px;
  margin-bottom: -100px;
}

@keyframes firework {
  0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
}

.firework,
.firework::before,
.firework::after
{
  --initialSize: 0.5vmin;
  --finalSize: 45vmin;
  --particleSize: 0.2vmin;
  --color1: yellow;
  --color2: khaki;
  --color3: white;
  --color4: lime;
  --color5: gold;
  --color6: mediumseagreen;
  --y: -30vmin;
  --x: -50%;
  --initialY: 60vmin;
  content: "";
  animation: firework 2s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, var(--y));
  width: var(--initialSize);
  aspect-ratio: 1;
  background: 
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
    
    /* bottom right */
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
    
    /* bottom left */
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
    
    /* top left */
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
    
    /* top right */
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%
    ;
  background-size: var(--initialSize) var(--initialSize);
  background-repeat: no-repeat;
}

.firework::before {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
/*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
  transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
/*   animation: fireworkPseudo 2s infinite; */
}

.firework::after {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
/*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
  transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
/*   animation: fireworkPseudo 2s infinite; */
}

.firework:nth-child(2) {
  --x: 30vmin;
  --y: 50vmin;
}

.firework:nth-child(2),
.firework:nth-child(2)::before,
.firework:nth-child(2)::after {
  --color1: rgb(0, 0, 0);
  --color2: rgb(0, 0, 0);
  --color3: rgb(0, 0, 0);
  --color4: orchid;
  --color5: plum;
  --color6: lavender;  
  --finalSize: 40vmin;
  left: 40%;
  top: 60%;
  animation-delay: -0.25s;
}

.firework:nth-child(3) {
  --x: -30vmin;
  --y: -50vmin;
}

.firework:nth-child(3),
.firework:nth-child(3)::before,
.firework:nth-child(3)::after {
  --color1: rgb(255, 0, 0);
  --color2: rgb(167, 28, 28);
  --color3: rgb(68, 6, 6);
  --color4: PaleTurquoise;
  --color5: SkyBlue;
  --color6: lavender;
  --finalSize: 35vmin;
  left: 15%;
  top: 100%;
  animation-delay: -3.5s;
}

.firework:nth-child(4) {
  --x: -30vmin;
  --y: -50vmin;
}

.firework:nth-child(4),
.firework:nth-child(4)::before,
.firework:nth-child(4)::after {
  --color1: rgb(25, 0, 255);
  --color2: rgb(7, 226, 226);
  --color3: rgb(58, 51, 151);
  --color4: PaleTurquoise;
  --color5: SkyBlue;
  --color6: lavender;
  --finalSize: 35vmin;
  left: 30%;
  top: 80%;
  animation-delay: -0.10s;
}

.firework:nth-child(5) {
  --x: -30vmin;
  --y: -50vmin;
}

.firework:nth-child(5),
.firework:nth-child(5)::before,
.firework:nth-child(5)::after {
  --color1: rgb(9, 255, 0);
  --color2: rgb(0, 117, 49);
  --color3: rgb(100, 197, 108);
  --color4: PaleTurquoise;
  --color5: SkyBlue;
  --color6: lavender;
  --finalSize: 35vmin;
  left: 45%;
  top: 90%;
  animation-delay: -1.80s;
}

.firework:nth-child(6) {
  --x: -30vmin;
  --y: -50vmin;
}

.firework:nth-child(6),
.firework:nth-child(6)::before,
.firework:nth-child(6)::after {
  --color1: rgb(238, 255, 0);
  --color2: rgb(138, 167, 11);
  --color3: rgb(230, 215, 88);
  --color4: rgb(238, 218, 175);
  --color5: SkyBlue;
  --color6: lavender;
  --finalSize: 35vmin;
  left: 60%;
  top: 70%;
  animation-delay: -0.30s;
}

.firework:nth-child(7) {
  --x: -30vmin;
  --y: -50vmin;
}

.firework:nth-child(7),
.firework:nth-child(7)::before,
.firework:nth-child(7)::after {
  --color1: rgb(224, 0, 253);
  --color2: rgb(79, 10, 82);
  --color3: rgb(196, 103, 204);
  --color4: rgb(238, 218, 175);
  --color5: SkyBlue;
  --color6: lavender;
  --finalSize: 35vmin;
  left: 75%;
  top: 80%;
  animation-delay: -1.60s;
}

.firework:nth-child(8) {
  --x: -30vmin;
  --y: -50vmin;
}

.firework:nth-child(8),
.firework:nth-child(8)::before,
.firework:nth-child(8)::after {
  --color1: rgb(255, 145, 0);
  --color2: rgb(255, 238, 83);
  --color3: rgb(105, 62, 11);
  --color4: rgb(238, 218, 175);
  --color5: SkyBlue;
  --color6: lavender;
  --finalSize: 35vmin;
  left: 90%;
  top: 60%;
  animation-delay: -0.65s;
}

.firework:nth-child(9) {
  --x: -30vmin;
  --y: -50vmin;
}

.firework:nth-child(9),
.firework:nth-child(9)::before,
.firework:nth-child(9)::after {
  --color1: rgb(129, 69, 82);
  --color2: rgb(81, 51, 129);
  --color3: rgb(185, 44, 115);
  --color4: rgb(238, 218, 175);
  --color5: SkyBlue;
  --color6: lavender;
  --finalSize: 35vmin;
  left: 70%;
  top: 50%;
  animation-delay: -1.25s;
}

.firework:nth-child(10) {
  --x: -30vmin;
  --y: -50vmin;
}

.firework:nth-child(10),
.firework:nth-child(10)::before,
.firework:nth-child(10)::after {
  --color1: rgb(140, 247, 0);
  --color2: rgb(233, 250, 1);
  --color3: rgb(25, 0, 253);
  --color4: rgb(238, 218, 175);
  --color5: SkyBlue;
  --color6: lavender;
  --finalSize: 35vmin;
  left: 20%;
  top: 50%;
  animation-delay: -0.95s;
}

.firework:nth-child(11) {
  --x: -30vmin;
  --y: -50vmin;
}

.firework:nth-child(11),
.firework:nth-child(11)::before,
.firework:nth-child(11)::after {
  --color1: rgb(255, 0, 55);
  --color2: rgb(0, 0, 0);
  --color3: rgb(255, 255, 255);
  --color4: rgb(238, 218, 175);
  --color5: SkyBlue;
  --color6: lavender;
  --finalSize: 35vmin;
  left: 50%;
  top: 50%;
  animation-delay: -2.50s;
}